.board {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40rem
}

.board--row {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}
  
.board--square {
  border: 1px solid #999;
  height: 1.5rem;
  width: 2rem;
  display: flex;
  text-align: center;
}
  
.board--square:hover {
  background-color: yellow !important;
}