.terrain--workshop {
    background-color: orange;
}

.terrain--land {
    background-color: green;
}

.terrain--headquarters {
    background-color: purple;
}

.terrain--water {
    background-color: blue;
}

.board--square:hover {
    background-color: yellow !important;
}

.squareWithinRange {
    background-color: red;
}