/* style the terrain */

/* default color is land (green) */
.board--square {
  background-color: rgb(1, 190, 1);
}

/* water */
.row0 {
  background-color: blue;
}

.row9 {
  background-color: blue;
}

.col0 {
  background-color: blue;
}

.col11 {
  background-color: blue;
}

/* player one's buildings*/

.row7.col1 {
  background-color: blueviolet;
}

.row8.col1 {
  background-color: blueviolet;
}

.row8.col2 {
  background-color: blueviolet;
}

/* player two's buildings*/

.row1.col10 {
  background-color: turquoise;
}

.row1.col9 {
  background-color: turquoise;
}

.row2.col10 {
  background-color: turquoise;
}